# Question 1

Write a program that will find all numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a list.

Hint: Consider using the range(#begin, #end) method

In [33]:
import numpy as np
import pandas as pd
def fil(x,y):
    L1=[]
    for i in range(x,y+1):
      if i%7==0 and i%5!=0:
        L1.append(i)
    return L1
fil(2000,3200)

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

# Question 2 

 Write a program that can compute the factorial of a given number. (The factorial of n is the product of all positive integers less than or equal to n.) For example: For factorial(5)= 5 x 4 x 3 x 2 x 1 the result is 120 (i.e. factorial (0)=1).

In [15]:
#one way :
import math 
print(math.factorial(4))


#two way :
fact = 0
def facto (i):
  if i >= 1 : 
    fact= i * facto(i-1)
  else :
    fact = 1
  return(fact)
facto(3)

6

24

# Question 3 

With a given integer number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). Then, the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [21]:
d=dict()
def dicti(n):
  for i in range(1,n+1):
    d[i]=i*i
  return d
dicti(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Question 4 

Given a non-empty string and an integral n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive). 

missing_char('kitten', 1) → 'ktten'    for example here we remove "i" which is located in the index 1

missing_char('kitten', 0) → 'itten'   here we remove "k" which is in the index 0

missing_char('kitten', 4) → 'kittn'   here we remove "e" which is in the index 4

In [56]:
#1st way
def exo4(sh,n):
  sh=sh[:n]+sh[n+1:]
  return(sh)
exo4('younes',2)
#2nd way
def exo(ch,N):
  M=list(ch)
  del M[N]
  O=''.join(M)
  return(O)
exo('Nesrine',4)

'Nesrne'

# Question 5 

Write a NumPy program to convert a NumPy array into a Python list structure.

Expected output: 

Original array elements: [[0 1] [2 3] [4 5]] 

Array to list: [[0, 1], [2, 3], [4, 5]] 
 

Hint: We can use the to_list() function to ensure the conversion.

In [41]:
import numpy as np

#1st way
d=np.array([[0,1],[2,3],[4,5]])
c =d.tolist()
c
#2nd way
d
b=list(d)
b

[10, 11, 12, 13, 14]

# Question 6

Write a NumPy program to compute the covariance matrix of two given arrays. 

Original array1: [0 1 2] 

Original array2: [2 1 0] 

Covariance matrix of the said arrays: [[ 1. -1.] [-1. 1.]]
 

Hint: We can use the np.cov() function to calculate the covariance between these two arrays

In [46]:
import numpy as np
a=np.array([0,1,2])
u=np.array([2,1,0])
def cova(s,g):
  return np.cov(s,g)
cova(a,u)

array([[ 1., -1.],
       [-1.,  1.]])

# Question 7

Question: Write a program that calculates and prints the value according to the given formula: Q= Square root of [(2 * C * D)/H] 

The following are the fixed values of C and H: C is 50. H is 30. 

D is the variable whose values should be input into your program in a comma-separated sequence. (That means D contains more than value)

Example: Let's assume the following comma-separated input sequence is given to the program: 100,150,180 The output of the program should be 18,22,24 

To further explain this, we will obtain a result for each value of D:  Q1= Square root of [(2 * C * 100)/H] =18, Q2= Square root of [(2 * C * 150)/H] = 22 and Q3 = Square root of [(2 * C * 180)/H]  = 24

Hint: If the output received is in decimal form, it should be rounded off to its nearest value. For example, if the output received is 26.0, it should be printed as 26. In case of input data being supplied to the question, it should be assumed to be a console input.

In [51]:
from math import sqrt
import numpy as np
def ex7(sh):
  l=sh.split(",")
  C=50
  H=30
  S=[]
  for i in l:
    M=str(round(math.sqrt(2*C*float(i)/H)))
    S.append(M)
  ch=','.join(S)
  return (ch)


D = input("Enter the D: ")
print(ex7(D))

Enter the D: 100,150,180
18,22,24